<ion-header>
    <ion-navbar class="chatBoxNav" color="{{vars.tempThread.labelColor}}">
        <ion-toolbar color="primary">

            <ion-title class="colorWhite">@{{vars.tempThread.users[0].username}}</ion-title>

            <ion-buttons end>
                <button ion-button icon-only *ngIf="vars.tempThread.threadTimer != null && vars.tempThread.threadTimer > 0">
                    <span class="colorWhite">-{{util.formatTimer(vars.tempThread.threadTimer)}}</span>
                </button>
                <button ion-button icon-only (click)="goToProfile()">
                    <img src="{{vars.tempThread.users[0].profile_pic_url}}" class="headerDp">
                </button>
            </ion-buttons>
        </ion-toolbar>
    </ion-navbar>
    <ion-toolbar color="{{vars.tempThread.labelColor}}" class="centerText">
        <button ion-button icon-only start *ngIf="vars.tempThread.autoTimer" color="{{vars.tempThread.labelColor}}" class="toolBarButton"
            (click)="vars.toggleAutoTimer()">
            <ion-icon name="radio-button-on" class="colorWhite"></ion-icon>
        </button>
        <button ion-button icon-only start *ngIf="!vars.tempThread.autoTimer" color="{{vars.tempThread.labelColor}}" class="toolBarButton"
            (click)="vars.toggleAutoTimer()">
            <ion-icon name="radio-button-off" class="colorWhite"></ion-icon>
        </button>
        <button ion-button icon-only color="{{vars.tempThread.labelColor}}" class="toolBarButton" (click)="presentPhraseActionSheet()">
            <ion-icon name="chatbubbles" class="colorWhite"></ion-icon>
        </button>
        <button ion-button icon-only end color="{{vars.tempThread.labelColor}}" class="toolBarButton" (click)="presentTimerActionSheet()">
            <ion-icon name="timer" class="colorWhite"></ion-icon>
        </button>
    </ion-toolbar>
</ion-header>

<ion-content #ChatContent>
    <ion-list>

        <!-- <ion-item class="oneChatItem">
            <h2 class="username">@finn</h2>
            <p class="msg">I've had a pretty messed up day. If we just...</p>
            <span class="time">22 May, 2017 @ 12:45</span>
        </ion-item> -->

        <!-- <ion-item class="oneChatItem">
             <div class="oneChatItemDiv">
                 <p class="msg">I've had a pretty messed up day. If we just...</p>
                 <span class="time">22 May, 2017 @ 12:45</span>
            </div>
        </ion-item>

        <ion-item class="oneChatItem received">
                <div class="oneChatItemDiv">
                    <p class="msg">I've had a pretty messed up day. If we just...</p>
                    <span class="time">22 May, 2017 @ 12:45</span>
               </div>
           </ion-item> -->

        <ion-item *ngFor="let threadItem of threadItems; let last = last; let index = index" class="oneChatItem" [ngClass]="{'received': threadItem.user_id == vars.tempThread.users[0].pk}">
            <div class="oneChatItemDiv">

                <p *ngIf="threadItem.item_type == 'text'" class="msg">
                    <span>{{parseThreadItem(threadItem)}}</span>
                </p>

                <p *ngIf="threadItem.item_type == 'action_log'" class="msg">
                    <span>
                        <i>{{parseThreadItem(threadItem)}}</i>
                    </span>
                </p>

                <p *ngIf="threadItem.item_type == 'media'" class="msg">
                    <img src="{{parseThreadItem(threadItem)}}" class="textImg">
                </p>

                <p *ngIf="threadItem.item_type == 'media_share'" class="msg">
                    <img src="{{parseThreadItem(threadItem).url}}" class="textImg">
                    <span>
                        <b>{{parseThreadItem(threadItem).caption}}</b>
                    </span>
                </p>

                <p *ngIf="threadItem.item_type == 'link'" class="msg">
                    <a href="{{parseThreadItem(threadItem).link_context.link_url}}" class="textLink">
                        <img *ngIf="parseThreadItem(threadItem).link_context.link_image_url" src="{{parseThreadItem(threadItem).link_context.link_image_url}}"
                            class="textImg">
                        <p>
                            <b *ngIf="parseThreadItem(threadItem).link_context.link_title" class="colorWhite">{{parseThreadItem(threadItem).link_context.link_title}}</b>
                            <span *ngIf="parseThreadItem(threadItem).link_context.link_summary" class="colorWhite">{{parseThreadItem(threadItem).link_context.link_summary}}</span>
                        </p>
                        <p class="msg">{{parseThreadItem(threadItem).text}}</p>
                    </a>
                </p>

                <p *ngIf="threadItem.item_type != 'text' && threadItem.item_type != 'link' && threadItem.item_type != 'media' && threadItem.item_type != 'media_share' && threadItem.item_type != 'action_log'"
                    class="msg">
                    <span>{{parseThreadItem(threadItem)}}</span>
                </p>

                <span class="time">{{parseDateObj(threadItem.timestamp) | date:"dd/M/yy @HH:mm"}}</span>
            </div>
        </ion-item>

        <ion-item class="oneChatItem sendingChat" *ngIf="showSendingLoader">
            <div class="oneChatItemDiv">
                <p class="msg">
                    <img src="/assets/imgs/sending_loader.gif" class="sendingLoader">
                </p>
            </div>
        </ion-item>



    </ion-list>
</ion-content>
<ion-footer no-border>
    <ion-toolbar class="footerToolBar">
        <ion-grid>
            <ion-row>
                <ion-col col-10>
                    <ion-input type="text" placeholder="Start typing..." [(ngModel)]="msgData.text" maxlength="500" class="chatInput"></ion-input>
                </ion-col>
                <ion-col col-2>
                    <button ion-button *ngIf="msgData.text.length > 0" (click)="sendText()">
                        <ion-icon name="send"></ion-icon>
                    </button>
                    <button ion-button *ngIf="msgData.text.length < 1" (click)="sendLike()">
                        <ion-icon name="heart" class="sendHeart"></ion-icon>
                    </button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-toolbar>
</ion-footer>