<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons start>
      <button ion-button icon-only (click)="sortTimer()">
        <ion-icon name="stopwatch"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>TORS</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="refreshThreads()">
        <ion-icon name="refresh"></ion-icon>
      </button>
      <button ion-button icon-only (click)="sortLable('labelGood')">
        <ion-icon name="radio-button-on" class="labelGood"></ion-icon>
      </button>
      <button ion-button icon-only (click)="sortLable('labelMedium')">
        <ion-icon name="radio-button-on" class="labelMedium"></ion-icon>
      </button>
      <button ion-button icon-only (click)="sortLable('labelBad')">
        <ion-icon name="radio-button-on" class="labelBad"></ion-icon>
      </button>
      <button ion-button icon-only>
        <img [src]="profilePicture" class="headerDp">
      </button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar color="primary">
    <ion-searchbar [(ngModel)]="searchQuery" (ionInput)="searchFeed($event)" (ionCancel)="searchFeed($event)" placeholder="Search Chats..."></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>

    <!-- <button ion-item>
        <ion-avatar item-start class="userImg lb">
          <img src="/assets/imgs/img1.jpg">
        </ion-avatar>
        <h2 class="usernameItem">Lando Freeman</h2>
        <h3 class="sampleItem">hey man did you get my text</h3>
        <p class="timeItem">24/02/2017 @ 22:32</p>
         <div item-end class="centerText briefItem">
          <ion-icon name="stopwatch"></ion-icon>
          <br/>
          <span>22:50</span>
        </div>
      </button> -->

    <ng-container *ngFor="let thread of vars.threads; let i = index">
      <button ion-item *ngIf="thread.visibleBasedOnSearch" (click)="goToChats(i, thread)">
        <ion-avatar item-start class="userImg {{thread.labelColor}}">
          <img src="{{thread.users[0].profile_pic_url}}">
        </ion-avatar>
        <h2 class="usernameItem">{{thread.users[0].full_name}}</h2>
        <h3 class="sampleItem">{{parseFeedBrief(thread.items[0])}}</h3>
        <p class="timeItem">{{parseDateObj(thread.items[0].timestamp) | date:"dd/M/yy @HH:mm"}}</p>
        <div item-end class="centerText briefItem" *ngIf="vars.threads[i].threadTimer != null && vars.threads[i].threadTimer > 0">
          <ion-icon name="stopwatch"></ion-icon>
          <br/>
          <span>-{{util.formatTimer(thread.threadTimer)}}</span>
        </div>

        <div item-end class="centerText briefItemExp" *ngIf="vars.threads[i].threadTimer != null && vars.threads[i].threadTimer < 1">
          <ion-icon name="stopwatch"></ion-icon>
        </div>

      </button>
    </ng-container>

    <!-- <button ion-item>
          <ion-avatar item-start class="userImg lg">
            <img src="/assets/imgs/img2.jpg">
          </ion-avatar>
          <h2 class="usernameItem">Rick Morty</h2>
          <h3 class="sampleItem">wup with you man?</h3>
          <p class="timeItem">24/02/2017 @ 14:32</p>
          <div item-end class="centerText briefItem">
            <ion-icon name="stopwatch"></ion-icon>
            <br/>
            <span>00:50</span>
          </div>
        </button>

        <button ion-item>
            <ion-avatar item-start class="userImg lm">
              <img src="/assets/imgs/img3.jpg">
            </ion-avatar>
            <h2 class="usernameItem">Scott Free</h2>
            <h3 class="sampleItem">lets go out for drinks man...</h3>
            <p class="timeItem">24/02/2017 @ 00:32</p>
            <div item-end class="centerText briefItem">
              <ion-icon name="stopwatch"></ion-icon>
              <br/>
              <span>02:50</span>
            </div>
          </button> -->

  </ion-list>
</ion-content>