// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.fullWidth{

    width: 100% !important;
}

.fullHeight{

    height: 100% !important;
}

.fullWH{

    width: 100%;
    height: 100% !important;
}

.centerText{

    text-align: center;
}

.colorGrey{

    color: #444;
}

.colorWhite{

    color: #fff !important;
}

.errorMsg{

    color: #ff1d49 !important;
}

.labelBad{

    color: #ff1d49;
}

.labelMedium{

    color: #fbbd08;
}

.labelGood{

    color: #61ef82;
}

.colorTheme{

    color: #2185d0;
}

.mainCenterContainer{

    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.homeHeader{

    margin: 0 0 30px 0;
}

.defaultBtnSize{

    height: 40px !important;
    width: 100px !important;
}

.themeBg{

    background-color: #488aff;
}

.userImg{

    border-radius: 10px;
}

.userImg.labelBad{
    background-color: #ff1d49;
    border: 5px solid #ff1d49;
}

.userImg.labelMedium{
    background-color: #fbbd08;
    border: 5px solid #fbbd08;
}

.userImg.labelGood{
    background-color: #61ef82;
    border: 5px solid #61ef82;
}

.userImg.ld{

}

.briefItem{

    color: #2185d0 !important;
}

.briefItemExp{

    color: #999 !important;
}

.timeItem{

    font-size: 1.2rem !important;
    color: #999 !important;
}

.sampleItem{

    color: #555 !important;
    white-space: nowrap;
    text-overflow: inherit;
    overflow: inherit;
}

.usernameItem{

    font-weight: bold !important;
    color: #555 !important;
}

.chatBoxNav{

    padding: 0 !important;
}

.chatBoxNav[color='labelGood'] .toolbar-background{

    background-color: #61ef82 !important;
}

.chatBoxNav[color='labelMedium'] .toolbar-background{

    background-color: #fbbd08 !important;
}

.chatBoxNav[color='labelBad'] .toolbar-background{

    background-color: #ff1d49 !important;
}

.chatBoxNav[color='labelClear'] .toolbar-background{

    background-color: #488aff !important;
}

.toolbar-title{

    color: white !important;
}

.chatBoxNav .back-button{

    color: #fff !important;
}

.headerDp{

    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 1px solid rgba(0,0,0,.2);
    box-shadow: 0 0 5px 3px rgba(0,0,0,.1);
}

.toolBarButton{

    box-shadow: none;
}

.toolBarButton[start]{

    float: left;
}

.toolBarButton[end]{

    float: right;
}

.footerToolBar{

    padding: 0 !important;
}

.footerToolBar .toolbar-content{

    background-color: #e5e5e5 !important;
}

.footerToolBar .chatInput{

    background-color: white;
    border-radius: 5px;
}

.oneChatItem{

    padding-left: 0;
    text-align: right;
    border-bottom: 0;
}

.oneChatItemDiv{

    background-color: #ccc;
    border-radius: 20px 20px 0 20px;
    padding: 10px;
    max-width: 70%;
    float: right;
}

.oneChatItem.received .oneChatItemDiv{

    background-color: #488aff;
    border-radius: 0 20px 20px 20px;
    float: left;
    text-align: left;
}

.oneChatItem .item-inner{

    padding: 0 10px;
    border-bottom: 0 !important;
}

.oneChatItem .msg{

    text-overflow: unset !important;
    overflow: unset !important;
    white-space: normal !important;
    font-size: 14px;
    color: #333;
}

.oneChatItem.received .msg{

    color: #fff;
}

.oneChatItem .time{

    font-size: 11px;
    color: #777;
}

.oneChatItem.received .time{

    color: #ccc;
}

.likeChatButton{

    color: #bbb;
}

.sendHeart{

    color: #ff0032;
}

.profileImg{

    border-radius: 50%;
}

.bioDiv{

    padding: 0 10px;
}

.bioDiv p{

    margin-top: 0;
}

.labelGrid .labSel{

    background-color: rgba(0,0,0,.1);
}

.labelGrid button{

   color: white !important;
}

page-profile .toolbar-md {
    padding: 0 !important;
    color: white !important;
}

page-profile .title .toolbar-title{

    color: white !important;
}

.activeSortLabel{

    background-color: rgba(0,0,0,.3) !important;
}

.unreadThread{

    color: #ff0032 !important;
    font-weight: bold !important;
}

.unreadThreadButton{

  background-color: #eee !important;
}
